.header {
  display: flex;
  align-items: center;
  gap: 15px;
}

.header a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #333;
}

.header .logo {
  max-height: 32px;
}

.header .title-group {
  display: flex;
  align-items: center;
  gap: 20px;
}

.icon {
  margin: 0 10px 0 0;
}